.blackjack-container {
  width: 100%;
  height: 100%;
  background-color: #ececec;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-auto-flow: row;
}

.blackjack-container .main-game {
  grid-column: 2 / -2;
  grid-row: 1 / -1;
  background-color: #f3f3f3;
  min-height: 100vh;
}

.dealer, .player {
  width: auto;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dealer__title, .player__title {
  font-size: 5rem;
  font-weight: bold;
  color: #1d34bd;
  margin-top: 4rem;
}

.dealer__card-container, .dealer__card-container div, .player__card-container, .player__card-container div {
  margin-top: 2rem;
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}

.dealer__card-container img, .dealer__card-container div img, .player__card-container img, .player__card-container div img {
  height: 17rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.dealer__card-sum, .player__card-sum {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

.player__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player__card-sum {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.player__bet {
  margin-top: 2rem;
}

.player__bet--amount {
  font-size: 4rem;
  font-weight: bold;
  width: 10rem;
  display: inline-block;
  text-align: right;
}

.player__bet--input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0 3rem;
  width: 40rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: #e2e2e2;
}

.player__bet--input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: #1d34bd;
}

.player__bet--input::-webkit-slider-thumb:hover {
  background-color: #162891;
}

.player__bet--input:focus {
  outline: 0;
}

.player__bet--submit {
  font-size: 3rem;
  color: #fff;
  background-color: #1d34bd;
  border: 0;
  padding: 1rem 3rem;
  border-radius: 5rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.player__bet--submit:hover {
  background-color: #162891;
}

.player__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.player__buttons button {
  font-size: 3rem;
  color: #fff;
  background-color: #1d34bd;
  border: 0;
  padding: 1rem 3rem;
  margin: 4rem 0;
  border-radius: 5rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  font-family: Montserrat;
  cursor: pointer;
}

.player__buttons button:hover {
  background-color: #162891;
}

.player__buttons button.inactive {
  background-color: #aaa;
  color: #e2e2e2;
  cursor: default;
}

.player__buttons button:focus {
  outline: 0;
}

.remote-player {
  width: 80%;
  background-color: #e2e2e2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-top: 4rem;
}

.remote-player:nth-of-type(2), .remote-player:nth-of-type(3) {
  margin-top: 10rem;
}

.remote-player__title {
  width: 100%;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #1d34bd;
  text-transform: capitalize;
}

.remote-player__card-container div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  border-radius: 8px;
}

.remote-player__card-container div img {
  height: 8rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.remote-player__card-sum {
  font-size: 2rem;
  font-weight: bold;
  color: #888;
}
/*# sourceMappingURL=blackjack-auto.css.map */