.blackjack-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #ececec;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) 2fr minmax(0, 1fr);
      grid-template-columns: minmax(0, 1fr) 2fr minmax(0, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-auto-flow: row;
}

.blackjack-container .main-game {
  grid-column: 2 / -2;
  grid-row: 1 / -1;
  background-color: #f3f3f3;
  min-height: 100vh;
}

.dealer, .player {
  width: auto;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dealer__title, .player__title {
  font-size: 5rem;
  font-weight: bold;
  color: #1d34bd;
  margin-top: 3rem;
}

.dealer__card-container, .dealer__card-container div, .player__card-container, .player__card-container div {
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}

.dealer__card-container img, .dealer__card-container div img, .player__card-container img, .player__card-container div img {
  height: 17rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.dealer__card-sum, .player__card-sum {
  font-size: 3rem;
  font-weight: bold;
}

.dealer__title {
  margin-bottom: 2rem;
}

.dealer__card-sum {
  margin-top: 1rem;
}

.player {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
      grid-template-areas: "title title" "info info" "hands buttons";
  -ms-grid-columns: auto min-content;
      grid-template-columns: auto -webkit-min-content;
      grid-template-columns: auto min-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.player__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: center;
}

.player__info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player__info--capital {
  margin-right: 4rem;
}

.player__card-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: hands;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  grid-gap: 2rem;
  grid-auto-flow: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player__hand {
  padding: 2rem 2rem 1rem;
  border-radius: 10px;
  background-color: #e2e2e2;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "cards" "sum";
}

.player__hand div {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cards;
}

.player__hand:last-of-type {
  margin-bottom: 2rem;
}

.player__hand.win {
  background-color: #1d34bd;
  color: #fff;
}

.player__hand.win .player__result {
  background-color: rgba(29, 52, 189, 0.5);
}

.player__hand.lose {
  background-color: #BF4042;
  color: #fff;
}

.player__hand.lose .player__result {
  background-color: rgba(191, 64, 66, 0.5);
}

.player__hand.draw {
  background-color: #f3c500;
  color: #fff;
}

.player__hand.draw .player__result {
  background-color: rgba(243, 197, 0, 0.5);
}

.player__hand.active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
  z-index: 4;
}

.player__hand.active::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #e2e2e2;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d34bd), to(#1d34bd)), -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#e2e2e2)), -webkit-gradient(linear, left top, left bottom, from(#1d34bd), to(#1d34bd)), -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#e2e2e2));
  background-image: linear-gradient(#1d34bd, #1d34bd), linear-gradient(#e2e2e2, #e2e2e2), linear-gradient(#1d34bd, #1d34bd), linear-gradient(#e2e2e2, #e2e2e2);
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}

.player__hand.active::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  position: absolute;
  z-index: -1;
  left: .6rem;
  top: .6rem;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #e2e2e2;
  border-radius: 5px;
}

.player__card-sum {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sum;
  text-align: center;
}

.player__result {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cards;
  font-size: 7rem;
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 17rem;
}

.player__bet {
  -ms-grid-row: 3;
  grid-row: 3;
  grid-column: span 2;
  margin-top: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.player__bet--amount {
  font-size: 4rem;
  font-weight: bold;
  width: 10rem;
  display: inline-block;
  text-align: right;
}

.player__bet--input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0 3rem;
  width: 40rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: #e2e2e2;
}

.player__bet--input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: #1d34bd;
}

.player__bet--input::-webkit-slider-thumb:hover {
  background-color: #162891;
}

.player__bet--input:focus {
  outline: 0;
}

.player__bet--submit {
  font-size: 3rem;
  color: #fff;
  background-color: #1d34bd;
  border: 0;
  padding: 1rem 3rem;
  border-radius: 5rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.player__bet--submit:hover {
  background-color: #162891;
}

.player__buttons {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: start;
}

.player__buttons button {
  margin: 0 0 2rem 0;
}

.remote-player {
  width: 80%;
  background-color: #e2e2e2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-top: 4rem;
}

.remote-player:nth-of-type(3), .remote-player:nth-of-type(4) {
  margin-top: 10rem;
}

.remote-player__title {
  width: 100%;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #1d34bd;
  text-transform: capitalize;
}

.remote-player__card-container div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  border-radius: 8px;
}

.remote-player__card-container div img {
  height: 8rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.remote-player__card-sum {
  font-size: 2rem;
  font-weight: bold;
  color: #888;
}

.result {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: -ms-grid;
  display: grid;
}

.result span {
  font-size: 8rem;
  font-weight: bold;
  color: #fff;
      justify-self: center;
  margin-top: 10rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: result;
}

.result__win, .result__lose, .result__draw {
  place-self: center;
  width: 50rem;
  height: 40rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "result result" "again logout";
}

.result__win {
  background-color: #1d34bd;
}

.result__lose {
  background-color: #BF4042;
}

.result__draw {
  background-color: #f3c500;
}

.result button {
  background-color: #fff;
  color: #000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.result button:hover {
  background-color: #eee;
}

.result button:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: again;
}

.result button:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: logout;
}

button {
  font-size: 3rem;
  color: #fff;
  background-color: #1d34bd;
  border: 0;
  padding: 1rem 3rem;
  margin: 1rem 0;
  border-radius: 5rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  font-family: Montserrat;
  cursor: pointer;
}

button:hover {
  background-color: #162891;
}

button.inactive {
  background-color: #aaa;
  color: #e2e2e2;
  cursor: default;
  pointer-events: none;
}

button:focus {
  outline: 0;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1500px) {
  .blackjack-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .blackjack-container .main-game {
    grid-column: 1 / -1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    min-height: 0;
  }
  .dealer__title {
    margin-bottom: 9.6rem;
  }
  .remote-player:nth-of-type(3), .remote-player:nth-of-type(4) {
    margin-top: 4rem;
  }
  .remote-player:last-of-type {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1300px) {
  .blackjack-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .player__hand div img, .dealer__card-container img {
    height: 13rem;
  }
  .player__buttons button {
    font-size: 2rem;
  }
  body {
    background-color: #ececec;
  }
}

@media only screen and (max-width: 1100px) {
  .blackjack-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .blackjack-container .main-game {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .dealer__title {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .blackjack-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=blackjack-auto.css.map */