@import "_variables.scss";

//Game container
.blackjack-container{
    width: 100%;
    height: 100%;
    background-color: #ececec;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-auto-flow: row;
    
    .main-game{
        grid-column: 2 / -2;
        grid-row: 1 / -1;
        background-color: #f3f3f3;
        min-height: 100vh;
    }
}

//Shared style for dealer and player
.dealer, .player{
    width: auto;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-size: 5rem;
        font-weight: bold;
        color: $main-color;
        margin-top: 3rem;
    }
    &__card-container, &__card-container div{
        height: auto;
        width: fit-content;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        img{
            height: 17rem;
            box-shadow: 0 3px 8px rgba(0,0,0,0.08);
            border-radius: 8px;
        }
    }
    &__card-sum{
        font-size: 3rem;
        font-weight: bold;
    }
}

//Dealer
.dealer{
    &__title{
        margin-bottom: 2rem;
    }
    &__card-sum{
        margin-top: 1rem;
    }
}


//Player
.player{
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: 
        "title title"
        "info info"
        "hands buttons";
    grid-template-columns: auto min-content;
    &__title{
        grid-area: title;
        text-align: center;
    }
    &__info{
        grid-area: info;
        font-size: 3rem;
        display: flex;
        width: auto;
        justify-content: center;
        &--capital{
            margin-right: 4rem;
        }
    }
    &__card-container{
        grid-area: hands;
        display: grid;
        align-self: start;
        grid-gap: 2rem;
        grid-auto-flow: row;
        width: 100%;
        justify-content: center;
    }
    &__hand{
        padding: 20px 20px 10px;
        //margin-bottom: 2rem;
        border-radius: 10px;
        background-color: #e2e2e2;
        display: grid;
        grid-template-areas: 
            "cards"
            "sum";
        div{
            grid-area: cards;

        }
        &.win{
            background-color: $main-color;
            color: #fff;
            .player__result{
                background-color: rgba($main-color, 0.5);
            }
        }
        &.lose{
            background-color: $lose-color;
            color: #fff;
            .player__result{
                background-color: rgba($lose-color, 0.5);
            }
        }
        &.draw{
            background-color: $draw-color;
            color: #fff;
            .player__result{
                background-color: rgba($draw-color, 0.5);
            }
        }
        &.active{ //This is a slightly modified version of: https://codepen.io/Chester/pen/QPoyjN
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            z-index: 4;
            &::before {
                box-sizing: border-box;
                content: '';
                position: absolute;
                z-index: -2;
                left: -50%;
                top: -50%;
                width: 200%;
                height: 200%;
                background-color: #e2e2e2;
                background-repeat: no-repeat;
                background-size: 50% 50%, 50% 50%;
                background-position: 0 0, 100% 0, 100% 100%, 0 100%;
                background-image: linear-gradient($main-color, $main-color), linear-gradient(#e2e2e2, #e2e2e2), linear-gradient($main-color, $main-color), linear-gradient(#e2e2e2, #e2e2e2);
                animation: rotate 4s linear infinite;
            }
            &::after {
                box-sizing: border-box;
                content: '';
                position: absolute;
                z-index: -1;
                left: 6px;
                top: 6px;
                width: calc(100% - 12px);
                height: calc(100% - 12px);
                background: #e2e2e2;
                border-radius: 5px;
            }
        }
    }
    &__card-sum{
        grid-area: sum;
        text-align: center;
    }
    &__result{
        grid-area: cards;
        font-size: 7rem;
        font-weight: bold;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 17rem;
    }
    &__bet{
        grid-row: 3;
        grid-column: span 2;
        margin-top: 2rem;
        justify-self: center;
        &--amount{
            font-size: 4rem;
            font-weight: bold;
            width: 10rem;
            display: inline-block;
            text-align: right;
        }
        &--input{
            appearance: none;
            margin: 0 3rem;
            width: 40rem;
            height: 1.5rem;
            border-radius: 1.5rem;
            background-color: #e2e2e2;
            &::-webkit-slider-thumb{
                appearance: none;
                border-radius: 3rem;
                width: 3rem;
                height: 3rem;
                background-color: $main-color;
                &:hover{
                    background-color: darken($main-color, 10);
                }
            }
            &:focus{
                outline: 0;
            }
        }
        &--submit{
            font-size: 3rem;
            color: #fff;
            background-color: $main-color;
            border: 0;
            padding: 1rem 3rem;
            border-radius: 5rem;
            box-shadow: 0 3px 8px rgba(0,0,0,0.2);
            &:hover{
                background-color: darken($main-color, 10);
            }
        }
    }

    &__buttons{
        grid-area: buttons;
        display: flex;
        flex-direction: column;
        align-self: start;
        button{
            margin: 0 0 2rem 0;
        }
    }
}

//Remotes
.remote-player{
    width: 80%;
    background-color: #e2e2e2;
    height: fit-content;
    justify-self: center;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 4rem;
    &:nth-of-type(3), &:nth-of-type(4){
        margin-top: 10rem;
    }
    &__title{
        width: 100%;
        display: block;
        font-size: 2rem;
        font-weight: bold;
        color: $main-color;
        text-transform: capitalize;
    }
    &__card-container div{
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: auto;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        grid-auto-columns: min-content;
        border-radius: 8px;
        img{
            height: 8rem;
            box-shadow: 0 3px 8px rgba(0,0,0,0.08);
            border-radius: 5px;
        }
    }
    &__card-sum{
        font-size: 2rem;
        font-weight: bold;
        color: #888;
    }
}

//Win / Lose screen
.result{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    display: grid;
    span{
        font-size: 8rem;
        font-weight: bold;
        color: #fff;
        justify-self: center;
        margin-top: 10rem;
        grid-area: result;
    }
    &__win, &__lose, &__draw{
        place-self: center;
        width: 50rem;
        height: 40rem;
        box-shadow: 0 3px 8px rgba(0,0,0,0.08);
        border-radius: 1rem;
        position: relative;
        display: grid;
        grid-template-areas: 
            "result result"
            "again logout";
    }
    &__win{
        background-color: $main-color;
    }
    &__lose{
        background-color: $lose-color;
    }
    &__draw{
        background-color: $draw-color;
    }
    button{
        background-color: #fff;
        color: #000;
        width: fit-content;
        height: fit-content;
        justify-self: center;
        align-self: end;
        &:hover{
            background-color: #eee;
        }
        &:nth-of-type(1){
            grid-area: again;
        }
        &:nth-of-type(2){
            grid-area: logout;
        }
    }
}

//Buttons
button{
    font-size: 3rem;
    color: #fff;
    background-color: $main-color;
    border: 0;
    padding: 1rem 3rem;
    margin: 1rem 0;
    border-radius: 5rem;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    font-family: Montserrat;
    cursor: pointer;
    &:hover{
        background-color: darken($main-color, 10);
    }
    &.inactive{
        background-color: #aaa;
        color: #e2e2e2;
        cursor: default;
        pointer-events: none;
    }
    &:focus{
        outline: 0;
    }
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}