.login, .register {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: -ms-grid;
  display: grid;
}

.login__container, .register__container {
  place-self: center;
  width: 50rem;
  height: auto;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  position: relative;
  padding-bottom: 3rem;
}

.login__container--close, .register__container--close {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0.4;
  top: 1.5rem;
  right: 1.5rem;
}

.login__container--close:hover, .register__container--close:hover {
  opacity: 1;
}

.login__container--close:before, .login__container--close:after, .register__container--close:before, .register__container--close:after {
  content: "";
  position: absolute;
  left: 1.65rem;
  width: 0.3rem;
  height: inherit;
  background-color: #555;
  border-radius: 0.15rem;
}

.login__container--close:before, .register__container--close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login__container--close:after, .register__container--close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.login__container--title, .register__container--title {
  margin-top: 4rem;
  font-size: 5rem;
  color: #1d34bd;
  text-align: center;
}

.login__container--error, .register__container--error {
  color: red;
  margin: 0 5rem;
  font-size: 1.6rem;
}

.login__container--form, .register__container--form {
  margin: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__container--form label, .register__container--form label {
  font-size: 2.2rem;
  color: #1d34bd;
  font-weight: bold;
  display: block;
  margin-top: 2rem;
}

.login__container--form input[type=text], .login__container--form input[type=password], .register__container--form input[type=text], .register__container--form input[type=password] {
  height: 5rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 1rem 0 0.5rem 0;
  font-size: 2.5rem;
  border: 1px solid #aaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2rem;
  color: #000;
}

.login__container--form input[type=text]:focus, .login__container--form input[type=password]:focus, .register__container--form input[type=text]:focus, .register__container--form input[type=password]:focus {
  outline: 0;
  border: 1px solid #1d34bd;
}

.login__container--form input[type=submit], .register__container--form input[type=submit], .register__container--form input[type=button] {
  font-size: 2.5rem;
  color: #fff;
  background-color: #1d34bd;
  border: 0;
  width: 100%;
  padding: 1.2rem 0;
  border-radius: 5rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 4rem 0 2rem 0;
  font-family: Montserrat;
}

.login__container--form input[type=submit]:focus, .register__container--form input[type=submit]:focus {
  outline: 0;
}

.login__container--form input[type=submit]:hover, .register__container--form input[type=submit]:hover {
  background-color: #162891;
  cursor: pointer;
}

.login__container--form-register, .login__container--form-forgot, .register__container--form-register, .register__container--form-forgot {
  font-size: 1.8rem;
  text-decoration: none;
  color: #1d34bd;
}

.login__container--form-forgot, .register__container--form-forgot {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.login__container--form-forgot:hover, .register__container--form-forgot:hover {
  text-decoration: underline;
}

.login__container--form-register, .register__container--form-register {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  text-align: center;
}

.login__container--form-register span, .register__container--form-register span {
  margin-top: 1rem;
  display: block;
  font-weight: bold;
  font-size: 2rem;
}

.login__container--form-register span:hover, .register__container--form-register span:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}
/*# sourceMappingURL=login-form-auto.css.map */